main {
    position: relative;
}

@media print {
    .pagetoc {
        display: none;
    }
}

#pagetoc-mobile {
    position: relative;
    display: block;
    overflow: hidden; /* Make sure pagetoc comes with us */
    width: 200px;
    /* height: calc(100vh - var(--menu-bar-height) - 0.67em * 4); */
    transition: max-height 0.2s ease-in;
    max-height: 20000px;

    /* Flexy nonsense for menu bar */
    flex-wrap: wrap;
    flex-basis: 100%;
}

@media only screen and (min-width: 1080px) {
    #pagetoc-desktop {
        border-left: 1px solid var(--sidebar-bg);
        width: 200px;
        position: absolute;
        right: -200px;
        top: 0;
    }

    #content {
        margin-right: 200px;
    }
}
.pagetoc a {
    color: var(--fg) !important;
    display: block;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    text-align: left;
    text-decoration: none;
}
.pagetoc a:hover,
.pagetoc a.active {
    background: var(--sidebar-bg);
    color: var(--sidebar-fg) !important;
    display: block;
}
.pagetoc .active {
    background: var(--sidebar-bg);
    color: var(--sidebar-fg);
}

.pagetoc-hidden #pagetoc-mobile {
    /* transform: translateY(calc(0px - var(--sidebar-width))); */
    max-height: 0px;
}

/*
@media only screen and (max-width:1439px) {
}

@media only screen and (min-width:1440px) {
    main {
        position: relative;
    }
    #sidetoc {
        margin-left: auto;
        margin-right: auto;
        left: calc(100% + (var(--content-max-width))/4 - 140px);
        position: absolute;
        display: block;
    }
    #pagetoc {
        position: fixed;
        width: 200px;
        height: calc(100vh - var(--menu-bar-height) - 0.67em * 4);
        overflow: auto;
    }
    #pagetoc a {
        border-left: 1px solid var(--sidebar-bg);
        color: var(--fg) !important;
        display: block;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 10px;
        text-align: left;
        text-decoration: none;
    }
    #pagetoc a:hover,
    #pagetoc a.active {
        background: var(--sidebar-bg);
        color: var(--sidebar-fg) !important;
        display: block;
    }
    #pagetoc .active {
        background: var(--sidebar-bg);
        color: var(--sidebar-fg);
    }
}*/